.header {
    width: 1600px;
    height: 100px;
    background: rgba(169, 255, 250, 0.80);
    display: flex;
}

.title {
    font-size: 100px;
    text-align: center;
    color: #000;
    font-weight: 400;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

.header__link-box {
margin: 0 auto;
margin-top: 48px;
}

.header__link:first-child {
margin-left: 0;
}

.header__link:hover {
opacity: 0.5;
}

.header__link {
    width: 305px;
    height: 40px;
    font-size: 32px;
    font-weight: 400;
    justify-content: center;
    color: #000;
    text-align: center;
    margin-left: 155px;
}

.body {
    margin: 0;
}

.main-section {
    background-image: url(./котики1.png);
    width: 1600px;
    height: 802px;
}

.footer {
    width: 1600px;
    height: 100px;
    background: rgba(169, 255, 250, 0.80);
}

.p {
    width: 241px;
    height: 63px;
    color: #000;
    font-size: 80px;
    font-weight: 400;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
